.card-head{
    padding-top: 5px;
   /* background-color: burlywood;*/
    display: flex;
    justify-content: space-around;
}
.card{
    margin-top: 10px;
}
.informed{
    margin-left: 215px;
}

.card-body {
    display: flex;
    justify-content: space-around;
}

.text{
    overflow-y: scroll;
    width: 290px;
    height: 100px;
}
