<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table V03</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="card ">
        <div class="card-header">
            <div class="head">Заголовок новости</div>
            <div class="informed">
                <label>
                    <input type="checkbox">
                </label>
                Не Ознакомлен
            </div>
            <div class="">Скиллы</div>
            <div class="">Тема</div>

        </div>
        <div class="card-body">
            <div class="date">
                12-01-2020
            </div>

            <div class="text">
                Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.
            </div>

            <div class="link">
                <a href="https://google.com">Ссылка на статью</a>
            </div>

            <div class="skill">Тестовый скилл</div>

            <div class="topic">Тестовая тема</div>
        </div>
    </div>

</div>

</body>
</html>