<!DOCTYPE html>
<html lang="en">
<head>
    <title>Новостной виджет</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.1/darkly/bootstrap.min.css">
    <link rel='stylesheet prefetch' href='https://www.rudebox.org.ua/demo/lessons/styles/style.css'>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container" id="main-box">
    <div class="filter-panel">

        <div id="datePanel">
            <input id="dtOpen" width="170"/>
            <label for="dtOpen"></label>

            <label for="dtClose">по</label>
            <input id="dtClose" width="170"/>
        </div>

        <select class="custom-select" id="inputGroupSelect01" align="center">
            <option selected>Статус</option>
            <option value="1">Прочитанные</option>
            <option value="2">Не прочитанные</option>
        </select>

        <select class="custom-select" id="inputGroupSelect02" align="center">
            <option selected>Скилы</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

        <select class="custom-select" id="inputGroupSelect03" align="center">
            <option selected>Темы</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>


    <!--
        <div class="card">
            <div class="card-head">
                <div class="head">Заголовок новости</div>
                <div class="informed">
                    <label>
                        <input type="checkbox">
                    </label>
                    Не Ознакомлен
                </div>
                <div class="">Скиллы</div>
                <div class="">Тема</div>

            </div>
            <div class="card-body">
                <div class="date">
                    12-01-2020
                </div>

                <div class="text">
                    Текст (от лат. textus — ткань; сплетение, сочетание) — зафиксированная на каком-либо материальном
                    носителе человеческая мысль; в общем плане связная и полная последовательность символов.
                </div>

                <div class="link">
                    <a href="https://google.com">Ссылка на статью</a>
                </div>

                <div class="skill">Тестовый скилл</div>

                <div class="topic">Тестовая тема</div>
            </div>
        </div>
    -->
</div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/static/script/main.js"></script>
<script>
    $('#dtOpen').datepicker({
        uiLibrary: 'bootstrap'
    });

    $('#dtClose').datepicker({
        uiLibrary: 'bootstrap'
    });
</script>
</html>